
SRC/CITray/CITray/bin/*
*.suo
SRC/CITray/CITray.suo
SRC/CITray/CITray/obj/*
SRC/CITray/CITrayApi/bin/*
SRC/CITray/CITrayApi/obj/*
SRC/CITray/CITray.Api/bin/Debug/*
SRC/CITray/CITray.Api/obj/*
SRC/CITray/CITray.Hudson/obj/*
SRC/CITray/CITray.Hudson/bin/*
SRC/CITray/CITray.MockPlugin/obj/*
SRC/CITray/CITray.MockPlugin/bin/*
SRC/CITray/CITray.Common/bin/*
SRC/CITray/CITray.Common/obj/*
SRC/CITray/CITray.Core/bin/*
SRC/CITray/CITray.Core/obj/**
SRC/CITray/NDependOut/**
LIB/log4net.xml
git-push.cmd
git-pull.cmd
/scratch.txt
/DOC/HelpFull
/DOC/HelpApi