<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDir" value="${specialfolder:folder=CommonApplicationData}/AddUp/FireSmc/log" />
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-40:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />

    <target name="file" xsi:type="File"
           layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-40:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
           fileName="${var:logDir}/firesmc.log"
           archiveFileName="${var:logDir}/archives/firesmc.{#}.log"
           archiveEvery="Day"
           archiveNumbering="DateAndSequence"
           archiveAboveSize="5000000"
           archiveDateFormat="yyyyMMdd"
           archiveOldFileOnStartup="true"
           maxArchiveFiles="50"
           keepFileOpen="true"
           encoding="utf-8" />

    <target name="rtb" xsi:type="RichTextBox"
            layout="${longdate}|${assembly-version}|${pad:padding=-5:inner=${level:uppercase=true}}|${pad:padding=-24:fixedLength=True:alignmentOnTruncation=right:inner=${threadname}}[${pad:padding=3:fixedLength=True:inner=${threadid}}]|${pad:padding=-40:fixedLength=True:alignmentOnTruncation=right:inner=${logger}}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            height="200"
            autoScroll="True"
            maxLines="65000"
            showMinimized="False"
            toolWindow="False"
            controlName=""
            formName="Consolas"
            width="600"
            useDefaultRowColoringRules="True">
      <!--<word-coloring backgroundColor="String" fontColor="String" ignoreCase="Boolean"
                     regex="String" style="Enum" text="String"
                     wholeWords="Boolean"/>-->
      <!-- repeated -->
      <!--<row-coloring backgroundColor="String" condition="Condition" fontColor="String"
                    style="Enum"/>-->
      <!-- repeated -->
    </target>
    
  </targets>

  <rules>
    <!--<logger minlevel="Trace" writeTo="file" />-->
    <logger minlevel="Trace" writeTo="console" />
    <logger minlevel="Trace" writeTo="rtb" />
  </rules>
</nlog>
